nav { 
    height: 10vh;
    background-color: blue;
    position: relative;
}
.nav-links{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0%, -50%)
}

.nav-links li{
 display: inline;   
}

.nav-links li:not(:last-child){
    margin-right: 10px;   
   }

.nav-links li a{
color: whitesmoke;
text-decoration: none;
font-size: 25px;
}

main { 
    height: 80vh;
  
}
.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.left{
background-color: yellow;
float: left;
}

.right{
    background-color: cyan;
    float: right;
    position: relative;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: black;
    height: 60x;
    width: 60x;
    border-radius: 15px;
}

.left,
.right {
    width: 50%;
    height: 80vh;
}

.top{
    height: 50%;
    background-color: red;
}
.grid1{
    height: 50%;
    width: 50%;
    background-color: orange;
    float: left;
}
.grid2{
    height: 50%;
    width: 50%;
    background-color: plum;
    float: left;
}
.grid3 {
    height: 50%;
    width: 50%;
    background-color: green;
    float: left;
}
.grid4 {
    height: 50%;
    width: 50%;
    background-color: rgb(255, 0, 85);
    float: left;
}


footer { 
    .grid1{
        height: 50%;
        width: 50%;
        background-color: orange;
        float: left;
    }height: 40vh;
    background-color: purple;
}
